@tailwind base;
@tailwind components;
@tailwind utilities;


/*.message{
    border: 2px solid #cdcdcd;
    border-radius: 10px;
    background-color: #e5e0e0;
    margin-bottom: 15px;
    padding: 10px ;
    
}


.user{
    border: 2px solid #cdcdcd;
    border-radius: 10px;
    background-color: #e5e0e0;
    margin-bottom: 15px;
    padding: 5px ;
    
}
.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
} */